@charset "UTF-8";

//공통 title
.wide_tit {
    .img_wrap {
        height:400px; border-top-right-radius:100px;
        @include backgroundSolt;
    }
    p {font-size:18px; line-height:32px; color:$gray2; padding:30px 0 0;}
}

//어플리케이션 - oil&gas
#contentsWrap.oil_gas {
    .wide_tit {
        .img_wrap {background-image:url(../../images/applications/oil_img01.jpg);}
    }
    .oil_wrap {width:1180px; margin:0 auto;}
}


