@charset "UTF-8";

//회사소개 - 회사 개요
#contentsWrap.intro {
    .intro_wrap {
        width:1180px; margin:0 auto; padding:40px 0 0;
        section {
            @extend %clearfix;
            &:nth-of-type(n+2) {padding:100px 0 0;}
            &:nth-of-type(even) {
                .img_wrap {
                    float:right;
                    @include borderRadius(100px 0 0 0);
                    &:before  {
                        left:auto; right:-300px; bottom:0;
                        background:url(../../images/company/intro_img04.jpg) 0 0 no-repeat;
                    }
                    &:after {left:-50px; top:160px;}
                }
            }
            &.global_pump {
                .img_wrap {background:url(../../images/company/intro_img01.jpg) 0 0 no-repeat;}
                p {width:390px;}
            }
            &.skill {
                .img_wrap {background:url(../../images/company/intro_img02.jpg) 0 0 no-repeat;}
                p {width:400px;}
            }
            &.latest_capacity {
                .img_wrap {background:url(../../images/company/intro_img03.jpg) 0 0 no-repeat;}
                p {width:350px;}
            }
            .img_wrap {
                width:590px; height:650px; float:left; padding: 0 0 79px; position:relative;
                @include borderRadius(0 100px 0 0);
                &:before {
                    display:block; content:"";
                    width:831px; height:450px; position:absolute; left:-300px; bottom:0; z-index:-1;
                    background:url(../../images/company/intro_img04.jpg) 0 0 no-repeat;
                }
                &:after {width:100px; height:2px; display:block; content:""; position:absolute; background-color:#2e008b;right:-50px; top:160px;}
            }
            .txt_wrap {
                width:590px; float:left; padding:125px 0 0 91px;
                @include boxSizing;
                h5 {font-size:50px; line-height:70px;}
                p:first-of-type {padding:34px 0 0;}
                p {padding:20px 0 0; font-size:18px; line-height:34px;}
            }
        }
    }
}

//회사소개 - 연혁
#contentsWrap.history {
    .history_wrap {
        width:1180px; margin:0 auto;
        .promotion_tab {
            height:68px;
            li {
                width:392px; height:66px; float:left; margin:0 0 0 -1px; cursor:pointer; font-size:18px; text-align:center; line-height: 64px; color:$gray2; position:relative;
                &:first-child {margin:0;}
                button {
                    width:100%; height:100%; color:$gray2; border:1px solid $gray4; position:relative; font-size:18px;
                    @include transition;
                    &:hover,
                    &:focus {
                        border-color:$violet; z-index:1;
                        & + li {border-left:1px solid $violet;}
                    }
                    &.active {background-color:$violet; border-color:$violet; color:#fff;}
                }
            }
        }
        .history_box {
            //공통
            > section {
                width:1180px; text-align:center; padding:75px 0 0; position:relative;
                &:after {
                    content:""; width:19px; height:19px; position:absolute; left:50%; top:260px; transform:translate(-50%, 0);
                    background:$violet;
                    @include borderRadius(20px);
                }
                > strong {
                    font-size:40px; font-weight:$light; font-family:$slab; position:relative;
                    &:after {
                        width:100%; height:14px; content:""; display:block; position:absolute; background:#eae5f3;
                        left:0; bottom:3px; z-index:-1;
                    }
                }
                h5 {font-size:70px; padding:25px 0 0;}
                em {font-family:$roboto; padding:0 15px;}
                p {font-size:22px; line-height:36px;}
                .box_wrap {
                    padding:120px 0 40px; position:relative; overflow:hidden;
                    @extend %clearfix;
                    &:before {
                        content:""; width:3px; height:100%; position:absolute; left:50%; top:68px; z-index:-1;
                        background:url(../../images/company/dot_icon.gif); transform:translate(-50%, 0);
                    }
                    .box {
                        width:520px; height:500px; float:left;
                        &:first-child {position:relative; top:-30px;}
                        &:nth-of-type(even) {
                            padding:70px 0 0 140px;
                            .txt_box {
                                text-align:left; padding:0 0 0 60px;
                                strong {
                                    &:before {left:-89px;}
                                    &:after {left:-138px;}
                                }
                            }
                        }
                        &:nth-of-type(2n+3) {position:relative; top:-40px;}
                        .img_box {
                            width:520px; height:340px;
                            @include borderRadius(0 100px 0 0);
                        }
                        .txt_box {
                            width:520px; padding:0 60px 0 0; text-align:right;
                            @include boxSizing;
                            strong {
                                font-size:40px; padding:40px 0 15px; display:inline-block; position:relative;
                                &:before {
                                    width:60px; height:2px; content:""; display:block; position:absolute; background-color:#2e008b;
                                    right:-87px; top:58px;
                                }
                                &:after {
                                    width:10px; height:10px; content:""; display:block; position:absolute; right:-138px; top:52px;
                                    background:#fff; border:3px solid #2e008b;
                                    @include borderRadius(10px);
                                }
                            }
                        }
                    }
                }
            }

            //확장과 미래
            .history_2019 {
                //display:none;
                &:before {
                    width:750px; height:1090px; content:""; position:absolute; z-index:-2; right:-260px; top:-70px;
                    background:url(../../images/company/energy_saving_business_bg_2019.jpg) 0 0 no-repeat;
                }
                .box_wrap {
                    .box:nth-of-type(1) {
                        .img_box {background:url(../../images/company/energy_saving_business_1908_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(2) {
                        .img_box {background:url(../../images/company/energy_saving_business_1901_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(3) {
                        .img_box {background:url(../../images/company/energy_saving_business_1803_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(4) {
                        .img_box {background:url(../../images/company/energy_saving_business_1705_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(5) {
                        .img_box {background:url(../../images/company/energy_saving_business_1704_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(6) {
                        .img_box {background:url(../../images/company/energy_saving_business_1604_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(7) {
                        .img_box {background:url(../../images/company/energy_saving_business_1511_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(8) {
                        .img_box {background:url(../../images/company/energy_saving_business_1506_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(9) {
                        .img_box {background:url(../../images/company/energy_saving_business_1404_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(10) {
                        .img_box {background:url(../../images/company/energy_saving_business_1311_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(11) {
                        .img_box {background:url(../../images/company/energy_saving_business_1310_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(12) {
                        .img_box {background:url(../../images/company/energy_saving_business_1112_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(13) {
                        .img_box {background:url(../../images/company/energy_saving_business_1106_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(14) {
                        .img_box {background:url(../../images/company/energy_saving_business_1009_img.jpg) 0 0 no-repeat;}
                    }
                }
            }

            //성장과 도전
            .history_2009 {
                display:none;
                &:before {
                    content:""; width:1002px; height:561px; position:absolute; z-index:-2; right:-350px; top:-70px;
                    background:url(../../images/company/energy_saving_business_bg_2009.jpg) 0 0 no-repeat;
                }
                .box_wrap {
                    .box:nth-of-type(1) {
                        .img_box {background:url(../../images/company/energy_saving_business_0907_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(2) {
                        .img_box {background:url(../../images/company/energy_saving_business_0705_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(3) {
                        .img_box {background:url(../../images/company/energy_saving_business_0505_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(4) {
                        .img_box {background:url(../../images/company/energy_saving_business_0412_img.jpg) 0 0 no-repeat;}
                    }
                }
            }

            //첫발걸음
            .history_1999 {
                display:none;
                &:before {
                    content:""; width:1215px; height:631px; position:absolute; z-index:-2; right:-350px; top:-80px;
                    background:url(../../images/company/energy_saving_business_bg_1999.jpg) 0 0 no-repeat;
                }
                .box_wrap {
                    .box:nth-of-type(1) {
                        .img_box {background:url(../../images/company/energy_saving_business_9906_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(2) {
                        .img_box {background:url(../../images/company/energy_saving_business_9708_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(3) {
                        .img_box {background:url(../../images/company/energy_saving_business_9609_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(4) {
                        .img_box {background:url(../../images/company/energy_saving_business_9501_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(5) {
                        .img_box {background:url(../../images/company/energy_saving_business_9004_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(6) {
                        .img_box {background:url(../../images/company/energy_saving_business_8908_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(8) {
                        .img_box {background:url(../../images/company/energy_saving_business_7510_img.jpg) 0 0 no-repeat;}
                    }
                    .box:nth-of-type(9) {height:auto;}
                }
            }
        }
    }
}

//회사소개 > hyosung way
#contentsWrap.way {
    padding:0 !important;
    .comment_box {
        width:1180px; margin:0 auto; padding:30px 0 90px 140px;
        @include boxSizing;
        @extend %clearfix;
        dl {width:480px; float:left;}
        dt {font-family:$slab; font-size:22px;}
        dd {font-size:18px; line-height:34px; color:$gray2; padding:35px 0 0;}
    }
    .mission {
        min-width:1180px; padding:0 70px;
        .img_wrap {
            width:100%; height:640px; background-image:url(../../images/company/way_img01.jpg);
            @include backgroundSolt;
        }
        .txt_wrap {
            width:1180px; margin:0 auto; padding:80px 0 100px 140px;
            @include boxSizing;
            h1 {font-size:18px; font-weight:$light; color:$gray2;}
            .txt_box {
                padding:25px 0 0;
                @extend %clearfix;
                p.tit {width:515px; font-size:40px; line-height:60px; font-weight:$bold; float:left;}
                p.txt {font-size:18px; line-height:34px; float:left; padding:5px 0 0;}
            }
        }
    }
    .core {
        background-color:$gray5; padding:100px 0 120px;
        .core_wrap {
            width:1180px; margin:0 auto;
            .tit_wrap {
                text-align:center;
                h1 {font-size:18px; color:$gray2; font-weight:$light;}
                p {font-size:40px; padding:25px 0 0; font-weight:$bold;}
            }
            .core_box {
                width:930px; margin:100px auto 0; position:relative;
                @extend %clearfix;
                &:before {
                    width:1280px; height:1px; display:block; content:""; background-color:$gray4; position:absolute; top:120px; left:50%; margin:0 0 0 -640px;
                    @include scaleX(0);
                    @include transition(transform, 3s);
                }
                article {
                    width:240px; float:left; margin:0 0 0 -10px; position:relative;
                    &:nth-of-type(1) {
                        margin:0; z-index:4;
                        .core_circle {
                            background-color:#7f3f95;
                            &:after {background-image:url(../../images/company/circle_dotted01.png);}
                        }
                    }
                    &:nth-of-type(2) {
                        z-index:3;
                        .core_circle {
                            background-color:#e98e29;
                            &:after {background-image:url(../../images/company/circle_dotted02.png);}
                        }
                    }
                    &:nth-of-type(3) {
                        z-index:2;
                        .core_circle {
                            background-color:#3586d9;
                            &:after {background-image:url(../../images/company/circle_dotted03.png);}
                        }
                    }
                    &:nth-of-type(4) {
                        z-index:1;
                        .core_circle {
                            background-color:#40b94c;
                            &:after {background-image:url(../../images/company/circle_dotted04.png);}
                        }
                    }
                }
            }
            .core_circle {
                width:240px; height:240px; text-align:center; color:$white; font-size:30px; padding:90px 0 0;
                @include boxSizing;
                @include borderRadius(100%);
                span {font-size:18px; font-weight:$light; padding:13px 0 0; display:inline-block;}
                &:after {
                    width:260px; height:260px; display:block; content:""; position:absolute; left:-10px; top:-10px;
                    @include backgroundSolt;
                }
            }
            ol {
                padding:70px 0 0 15px; font-size:18px; line-height:32px; color:$gray2;
                li {
                    padding:10px 0 0 8px; position:relative;
                    &:before {
                        width:3px; height:3px; display:block; content:""; position:absolute; left:0; top:24px; background-color:$gray2;
                        @include borderRadius(100%);
                    }
                }
            }
        }
    }
}

//회사소개 - 사업장 안내
#contentsWrap.company_location {
    .location_wrap {width:1180px; margin:0 auto;}
    section {
        padding:80px 0 0;
        &:first-child {padding:0;}
        h5 {font-size:28px;}
        > ol {
            border-top:2px solid $black; margin:20px 0 0;
            > li {
                height:170px; border-bottom:1px solid $gray4; padding:40px; background-color:$white; position:relative; overflow:hidden;
                @include boxSizing;
                @include transition(background-color, .3s);
                &.active {
                    background-color:#fafafa;
                    p.name {color:$violet; font-weight:$bold;}
                    .open_btn {background-color:$violet; background-image:url(../../images/common/map_icon_over.png); border-color:$violet; color:$white;}
                }
            }
        }
        p.name {
            font-size:25px; color:$black;
            @include transition(color, .3s);
        }
        p.location_txt {font-size:18px; color:$gray2; padding:20px 0 0;}
        .tel_number {
            padding:10px 0 0; color:$gray2;
            @extend %clearfix;
            li {
                float:left; padding:0 0 0 25px; position:relative;
                &:after {width:1px; height:15px; display:block; content:""; background-color:$gray4; position:absolute; top:1px; left:13px;}
                &:first-child {
                    padding:0;
                    &:after {display:none;}
                }
            }
        }
        .open_btn {
            width:122px; height:56px; display:block; font-size:18px; color:$gray2; background-image:url(../../images/common/map_icon.png); text-align:left; text-indent:58px; position:absolute;
            top:58px; right:40px;
            @include borderSet(1px, solid, $gray3);
            @include backgroundSolt(30px, 50%);
            @include transition;
            &:hover,
            &:focus {background-color:$violet; background-image:url(../../images/common/map_icon_over.png); border-color:$violet; color:$white;}
        }
        .map_wrap {height:400px; background:url(../../images/company/location_img.jpg) 0 0 no-repeat; margin:40px 0 0;}
    }
}





















