@charset "UTF-8";

#subVisual.util_visual .visual_txt {padding:262px 0 0 130px !important;}

//etc - 개인정보처리방침
#contentsWrap.util_terms {
    width:1180px; margin:0 auto;
    #subTitle {
        padding:60px 0 0 !important;
        p {margin:55px 0 0; line-height:34px; font-size:18px; padding:30px 40px; background-color:$gray5; color:$gray2;}
    }
    .terms_tab {
        padding:55px 0 0;
        h5 {font-size:28px; font-weight:$light;}
        ul {
            border-top:2px solid $black; border-bottom:1px solid $gray4; padding:20px 50px 45px; margin:30px 0 0;
            @extend %clearfix;
        }
        li {
            padding:25px 0 0; float:left;
            &:nth-of-type(odd) {width:600px;}
        }
        button {
            font-size:18px; position:relative;
            @include transition(color, .3s);

            &:hover,
            &:focus {
                color:$violet;
                &:after {width:100%;}
            }
            &:after {
                width:0; height:1px; display:block; content:""; position:absolute; bottom:-2px; background-color:$violet;
                @include transition(width, .3s);
            }
        }
    }
    .terms_contents {
        strong {font-size:28px; display:block; padding:55px 0 0; font-weight:$light;}
        p {font-size:18px; color:$gray2; line-height:34px;}
        p.txt01 { padding:20px 0 0;}
        p.txt02 {
            padding:40px 0 0;
            span {
                display:block; padding:0 0 0 15px;
                a {
                    color:$gray2;
                    @include transition(color, .3s);
                    &:hover,
                    &:focus {color:$violet;}
                }
            }
        }
        .terms_download {
            height:46px; display:inline-block; margin:20px 0 0; line-height:46px; padding:0 28px 0 52px; font-size:15px; position:relative; background-color:$white;
            @include borderSet(1px, solid, $gray3);
            @include transition;
            &:after {
                width:15px; height:16px; display:block; content:""; background-image:url(../../images/common/down_icon.png); position:absolute; top:14px; left:23px;
                @include backgroundSolt(0, 0);
                @include transition;
            }
            &:hover,
            &:focus {
                background-color:$violet; color:$white; border-color:$violet;
                &:after { background-image:url(../../images/common/down_icon_over.png); -ms-background-position-y:4px; background-position-y:4px;}
            }
        }
        .change_doc {
            padding:25px 0 0;
            p {font-size:18px; color:$black; line-height:18px; padding:15px 0 0;}
            a {width:18px; height:18px; display:inline-block; background:url(../../images/common/parent_doc_icon.gif) 0 0 no-repeat; text-indent:-9999px; margin:0 0 0 10px;}
        }
    }
}

















