@charset "UTF-8";

//서비스 > a/s센터
#contentsWrap.as_center {
    width:1180px; margin:0 auto;
    .as_tit {
        color:$white; background-color:$violet; padding:35px 0 35px 34px;
        @extend %clearfix;
        dl {
            height:110px; float:left; padding:0 0 0 230px; border-left:1px solid #5833a2; background-image:url(../../images/service/as_icon02.gif);
            @include boxSizing;
            @include backgroundSolt(80px, 50%);
            &:first-child {width:548px; border-left:0; background-image:url(../../images/service/as_icon01.gif);}
        }
        dt {padding:20px 0 0; font-size:22px;}
        dd {padding:15px 0 0; font-size:40px;}
    }
    .as_input_box01 {
        li {
            &:nth-of-type(odd) {float:right;}
            &:nth-of-type(even) {float:left;}
            &:first-child {width:100%; float:left;}
        }
    }
}

//서비스 > AM 사업
#contentsWrap.am_business {
    .am_wrap {
        width:1180px; margin:0 auto;
        .am_explanation {
            .am_img {
                height:400px; border-radius:0 100px 0 0;
                background:url(../../images/service/am_img01.jpg) no-repeat 0 50%;
            }
            p {padding:30px 0 0; font-size:18px; line-height:32px; color:$gray2;}
        }
        .am_introduction {
            height:270px; margin:100px 0 0; background-color:#f4f2f9;
            @extend %clearfix;
            ul {
                li {
                    width:393px; position:relative; float:left; padding:190px 0 0;
                    text-align:center; background-repeat:no-repeat; background-position:50% 60px;
                    &:first-child:after{display:none;}
                    &:after{
                        width:5px; height:5px; content:""; display:block; position:absolute;
                        border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px;
                        background-color:#aaa; left:-2px; top:137px;
                    }
                    &:nth-of-type(1) {background-image:url(../../images/service/am_icon1.gif);}
                    &:nth-of-type(2) {background-image:url(../../images/service/am_icon2.gif);}
                    &:nth-of-type(3) {background-image:url(../../images/service/am_icon3.gif);}
                    strong {font-size:23px; font-weight:$light;}
                }
            }
        }
        .business_field {
            margin:100px 0 0;
            h5 {font-size:27px;}
            .field_wrap {
                margin:28px 0 0;
                @extend %clearfix;
                article {
                    width:380px; float:left; padding:0 0 0 20px;
                    &:nth-of-type(1) {
                        padding:0;
                        div {background:url(../../images/service/am_section_img01.jpg);}
                    }
                    &:nth-of-type(2) div {background:url(../../images/service/am_section_img02.jpg);}
                    &:nth-of-type(3) div {background:url(../../images/service/am_section_img03.jpg);}
                    .img_box {width:380px; height:240px;}
                    strong {display:block; font-weight:$light; padding:29px 0 12px; font-size:23px;}
                    p {line-height:32px; font-size:18px; color:$gray2; padding: 0 13px 0 0;}
                }
            }
        }
    }
}

//서비스 > 펌프 아카데미
#contentsWrap.pump_academy {
    .pump_wrap {
        width:1180px; margin:0 auto;
        p{color:$gray2;}
        .pump_explanation {
            margin:28px 0 0;
            .img_wrap {height:400px; border-radius:0 100px 0 0; background:url(../../images/service/pump_img01.jpg) 0 50% no-repeat;}
            p {padding:33px 0 0; font-size:18px; line-height:32px; color:$gray2;}
        }
        .table_box {
            margin:93px 0 0; border-top:2px solid $black;
            article {
                border-top:1px solid $gray4;
                @extend %clearfix;
                &:first-child {
                    border:0;
                    .text_box {padding:45px 0 54px;}
                    h5 {padding:50px 0 0;}
                }
                h5 {float:left; width:280px; font-size:28px; padding:60px 0 0;}
                // 신청 대상
                &.target_wrap {
                    .text_box p:first-child {margin:-5px 0 0;}
                }
                //교육 과정
                &.process_wrap {
                    .text_box {
                        strong {
                            padding:30px 0 20px;
                            &:first-child {padding:0 0 27px;}
                        }
                    }
                }
                // 교육 일정 및 장소
                &.place_wrap {
                    .text_box {
                        .caution {
                            padding:24px 0 0 20px; font-size:18px; line-height:28px; color:$gray2; position:relative;
                            &:before {content:"※"; position:absolute; left:0;}
                        }
                    }
                    .map_wrap {float:right; width:550px; height:320px; margin:60px 0; background:url(../../images/service/map_img.jpg) 0 0 no-repeat;}
                }
                // 신청 방법
                &.application_wrap {
                    .text_box{
                        p:first-child {
                            padding:0 0 14px;
                            &:before {display:none;}
                        }
                    }
                }
                //교육담당자
                &.education_wrap {
                    .text_box {width:400px;}
                    .text_color {
                        a {
                            color:$violet; font-weight: 300;
                            &:before {width:17px; height:12px; display:inline-block; content:""; padding:0 11px 0 0; background:url(../../images/service/letter_icon.gif) 0 0 no-repeat;}
                        }
                    }
                }
                //공통
                .text_box {
                    float:left; padding:60px 0 53px;
                    &.p_wrap {
                        p:before {
                            width:2px; height:2px; display:inline-block; content:""; background-color:$gray2; margin:0 8px 6px 0;
                            @include borderRadius(2px);
                        }
                    }
                    p {
                        font-size:18px; line-height:38px;
                        &:first-child {margin:-10px 0 0;}
                    }
                    strong {
                        display:block; font-size:22px; padding: 30px 0 20px;
                        &:first-child {padding:0 0 18px;}
                    }
                    .icon_wrap {
                        width:900px;
                        @extend %clearfix;
                        li {
                            width:300px; height:140px; float:left; padding: 29px 0 0 130px;  font-size:18px; line-height:28px; background-repeat:no-repeat;
                            @include boxSizing;
                            &:nth-of-type(1) {background-image:url(../../images/service/pump_icon1.gif);}
                            &:nth-of-type(2) {background-image:url(../../images/service/pump_icon2.gif);}
                            &:nth-of-type(3) {background-image:url(../../images/service/pump_icon3.gif);}
                            &:nth-of-type(4) {background-image:url(../../images/service/pump_icon4.gif);}
                            &:nth-of-type(5) {background-image:url(../../images/service/pump_icon5.gif);}
                        }
                    }
                }
            }
        }
    }
}

//서비스 > 펌프 고효율화 사업
#contentsWrap.pump_energy_saving_business {
    padding:0 0 80px !important;
    .pump_energy_saving_business_wrap {
        width:1180px; margin:0 auto; padding:40px 0 0;
        section {
            padding:95px 0 0;
            &:first-child {padding:0;}
            h5 {font-size:28px; padding:0 0 25px;}
            p {font-size:18px; line-height:34px; color:$gray2;}
            em {color:$violet; font-weight:$bold; font-size:22px;}
            strong {font-size:22px; font-weight:$light; line-height:38px;}
            @extend %clearfix;
            .p_last {padding:15px 0 0;}
            .box_wrap {
                .box {
                    width:384px; height:505px; float:left; margin:0 0 0 14px; border:1px solid $gray4; text-align:center;
                    @include boxSizing;
                    &:first-child {margin:0;}
                    p {padding:5px 0 0;}
                    .img_wrap {
                        position:relative; height:320px; padding:60px 0 0;
                        img {position:absolute; left:50%; transform:translate(-50%,0);}
                    }
                }
            }
        }
        //대상 펌프
        .target_pump {
            .list_wrap {
                padding:30px 0 0;
                .list {
                    width:353px; height:135px; position:relative; float:left; padding:0 0 0 40px;
                    strong {
                        &:before {
                            width:25px; height:22px; display:inline-block; content:''; position:absolute; left:0; top:5px;
                            background:url(../../images/common/checkbox.gif);
                        }
                    }
                    p {padding:5px 0 0;}
                }
            }
        }
        //사업 제안 절차
        .business_proposition {
            article {
                width:350px; float:left; padding:0 0 0 65px; position:relative;
                &:first-child {
                    padding:0;
                    .img_box:before {display:none;}
                }
                &:nth-of-type(1) {
                    .img_box {background:url(../../images/service/pump_energy_saving_business_img04.jpg) 0 0 no-repeat;}
                }
                &:nth-of-type(2) {
                    .img_box {background:url(../../images/service/pump_energy_saving_business_img05.jpg) 0 0 no-repeat;}
                }
                &:nth-of-type(3) {
                    .img_box {background:url(../../images/service/pump_energy_saving_business_img06.jpg) 0 0 no-repeat;}
                }
                .img_box {
                    height:240px;
                    &:before {position:absolute; content:''; width:32px; height:32px; left:16px; top:104px;background:url(../../images/common/next_icon.gif);}
                }
            }
            .txt_wrap {
                width:310px; background-color:$white; position:relative; top:-30px; text-align:center; margin:0 0 0 20px; padding:20px 0 0;
            }
        }
    }
}



















