@charset "UTF-8";

//etc - 개인정보처리방침
#contentsWrap.util_terms {
    #subTitle {
        padding:30px 0 0 !important;
        p {margin:35px 0 0; line-height:24px; font-size:14px; padding:20px 25px; background-color:$gray5; color:$gray2;}
    }
    .terms_tab {
        padding:35px 0 0;
        h5 {font-size:18px; font-weight:$light;}
        ul {border-top:2px solid $black; border-bottom:1px solid $gray4; padding:25px 0; margin:15px 0 0;}
        li {
            padding:10px 0 0;
            &:first-child {padding:0;}
        }
        button {font-size:14px; position:relative; text-align:left; line-height:24px;}
    }
    .terms_contents {
        strong {font-size:18px; display:block; padding:45px 0 0; font-weight:$light; line-height:24px;}
        p {font-size:14px; color:$gray2; line-height:24px;}
        p.txt01 { padding:15px 0 0;}
        p.txt02 {
            padding:20px 0 0;
            span {
                display:block; padding:0 0 0 15px;
                a {
                    color:$gray2;
                    @include transition(color, .3s);
                    &:hover,
                    &:focus {color:$violet;}
                }
            }
        }
        .terms_download {
            height:40px; display:inline-block; margin:10px 0 0; line-height:40px; padding:0 28px 0 52px; font-size:15px; position:relative; background-color:$white;
            @include borderSet(1px, solid, $gray3);
            @include transition;
            &:after {
                width:15px; height:16px; display:block; content:""; background-image:url(../../images/common/down_icon.gif); position:absolute; top:10px; left:23px;
                @include backgroundSoltC(0, 0, no-repeat, cover);
                @include transition;
            }
        }
        .change_doc {
            padding:15px 0 0;
            p {font-size:14px; color:$black; padding:10px 0 0; line-height:14px;}
            a {
                width:14px; height:14px; display:inline-block; background-image:url(../../images/common/parent_doc_icon.gif); text-indent:-9999px; margin:2px 0 0 10px;
                @include backgroundSoltC;
            }
        }
    }
}

















