@charset "UTF-8";

html, body { max-width:100%;}
body.no_scroll {overflow:hidden;}
.dimmed {
    width:100%; height:100%; position:fixed; z-index:100; background-color:#000; display:none; top:0;
    @include opacity(0);
}

//스킵 네이게이션
#skipNavigation a {
    position:absolute; top:-100px; left:0; z-index:1000; width:100%; border-bottom:1px solid #dbdbdb; background:#f8f7f3; line-height:50px;
    &:focus {top:0; text-align:center;}
}

/* 헤더 */
#header {
    width:100%; height:60px; position:absolute; top:0; left:0; z-index:110; padding:0 25px;
    @include boxSizing;
    &:before {
        width:100%; height:140px; display:block; content:""; position:absolute; top:-80px; z-index:-1; background-color:$white; right:-15px;
        -webkit-border-bottom-right-radius:250px 150px;
        -moz-border-bottom-right-radius:250px 150px;
        border-bottom-right-radius:250px 150px;
    }
    h1 {
        text-indent:-9999px; padding:22px 0 0 38px; position:relative;
        a {
            width:174px; height:15px; display:block; background-image:url(../../images/layout/logo.jpg);
            @include backgroundSoltC;
        }
    }
    #gnbBtn {
        width:18px; height:16px; position:absolute; top:22px; left:25px; z-index:30;
        &:before,
        &:after {
            width:18px; height:2px; display:block; content:""; position:absolute; background-color:$black;
            @include transition;
        }
        &:before {top:0;}
        &:after {bottom:0;}
        span {
            width:11px; height:2px; position:absolute; top:7px; left:0; text-indent:-9999px; display:block; background-color:$black;
            @include transition(width, .3s);
        }
        &.active {
            span {width:0;}
            &:before {
                top:7px;
                @include rotate(45);
            }
            &:after {
                top:7px;
                @include rotate(-45);
            }
        }
    }
    .gnb_wrap {
        width:80%; height:100vh; background-color:$white; position:absolute; z-index:20; top:0; left:0; padding:0 25px; overflow-y:scroll;
        @include translate(-100%, 0);
        @include boxSizing;
    }
    .language_box {
        padding:20px 0 0;
        @extend %clearfix;
        ol {
            line-height:21px; float:right; padding:0 0 0 20px; background:url(../../images/layout/util_icon02.gif) 0 50% no-repeat; -webkit-background-size:21px; background-size:21px;
            @extend %clearfix;
        }
        li {float:left; margin:0 0 0 15px;}
        a.active {color:$violet;}
    }
    nav {
        padding:30px 0 60px;
        ul.depth1 {
            button {
                width:100%; font-size:24px; position:relative; text-align:left; color:$black;
                &:before,
                &:after {
                    width:16px; height:2px; display:block; content:""; background-color:$gray1; position:absolute; top:11px; right:0;
                    @include transition;
                }
                &:before {
                    @include rotate(90);
                }
                &.active {
                    color:$violet;
                    &:before {
                        background-color:$violet;
                        @include rotate(0);
                    }
                    &:after {background-color:$violet;}
                }
            }
            > li {
                height:24px; padding:40px 0 0; overflow:hidden;
                &:first-child {padding:0;}
            }
        }
        ul.depth2 {
            font-size:18px; padding:20px 0 0; line-height:18px;
            li {
                padding:20px 0 0;
                &:first-child {padding:0;}
            }
            a {
                position:relative;
                &:after {
                    width:5px; height:5px; display:none; content:""; background-color:$violet; position:absolute; right:-15px; top:7px;
                    @include borderRadius(100%);
                }
                &.active {
                    color:$violet;
                    &:after {display:block;}
                }
            }
        }
    }
}

#gnbDimmed.dimmed {z-index:10;}
//footer
#footer {
    padding:40px 25px; background-color:$gray1; position:relative;
    &:before {width:96px; height:48px; display:block; content:""; position:absolute; background:url(../../images/layout/footer_mask.png) 50% 50% no-repeat; top:-48px; right:0;}
    .footer_wrap {position:relative;}
    .footer_info {
        color:$gray3; font-size:12px;
        .f_link {
            font-size:12px; line-height:18px;
            @extend %clearfix;
            li {
                float:left; padding:0 0 0 20px; position:relative;
                &:before {width:2px; height:2px; display:block; content:""; background-color:$gray3; position:absolute; top:7px; left:10px;}
                &:first-child {
                    font-size:14px; padding:0;
                    &:before {display:none;}
                }
            }
            a {
                color:$white; position:relative;
                &:hover:after,
                &:focus:after {width:100%;}
                &:after {
                    width:0; height:1px; display:block; content:""; position:absolute; bottom:-2px; left:0; background-color:$white;
                    @include transition(width, .2s);
                }
            }
        }
        .company_info {padding:15px 0 0; tel {color:$white;}}
        .copyright {padding:10px 0 0;}
    }
}
