@charset "UTF-8";

//프로덕트 - between
#contentsWrap.between {
    .wide_tit .img_wrap {background-image:url(../../images/products/between_img01.jpg);}
}

//프로덕트 - VERTICALLY SUSPENDED
#contentsWrap.vertically {
    .wide_tit .img_wrap {background-image:url(../../images/products/vertically_img01.jpg);}
}

//프로덕트 - OVERHUNG
#contentsWrap.overhung {
    .wide_tit .img_wrap {background-image:url(../../images/products/overhung_img01.jpg);}
}