@charset "UTF-8";

//서비스 > a/s센터
#contentsWrap.as_center {
    .as_tit {
        color:$white; background-color:$violet; text-align:center; padding:5px 30px 20px;
        @include boxSizing;
        dl {
            width:300px; height:71px; background-image:url(../../images/service/as_icon02.gif); display:inline-block; text-align:left; padding:0 0 0 95px; margin:20px 0 0;
            -webkit-background-size:71px; background-size:71px;
            @include boxSizing;
            @include backgroundSolt(0, 50%);
            &:first-child {background-image:url(../../images/service/as_icon01.gif);}
        }
        dt {padding:12px 0 0; font-size:14px;}
        dd {padding:12px 0 0; font-size:24px;}
    }
    .as_input_box01 {

    }
}





















