@charset "UTF-8";

@import "./_common/base";
@import "./layout";
@import "./main";
@import "./applications";
@import "./company";
@import "./etc";
@import "./products";
@import "./promotion";
@import "./service";

/*
  z-index 가이드
  container : auto
  header :200
  header dimmed :100
*/

//기본 스타일
input[type=text],
textarea,
select {
    outline:none;
    @include transition(border-color, .2s);
    &:focus { border-color:$violet !important;}
}

::selection { background:$violet; color:$white; text-shadow:none; }

::-moz-selection { background:$violet; color:$white; text-shadow:none; }

img { vertical-align:top; image-rendering:-webkit-optimize-contrast;}

.popup_dimmed {
    width:100%; height:100%; position:fixed; z-index:300; background-color:$black; display:none; top:0;
    @include opacity(0);
}
caption { width:1px; height:1px; overflow:hidden; margin:-1px;}

//퍼블 가이드용
.guide_line {
    div {
        &:after,
        &:before {width:1px; height:100%; display:block; content:""; position:fixed; background-color:$gray1; z-index:1000; opacity:0.3;}
        &.guide_50 {
            &:before {left:25px;}
            &:after {right:25px}
        }
        &.guide_center {
            &:before {left:50%;}
        }
    }
}

//히든 텍스트
.hidden-txt,
legend {overflow:hidden; display:inline-block; text-indent:-9999px; width:0; height:0; line-height:1px; position:absolute;}

#container {
    overflow:hidden;
    #subVisual {
        height:240px; margin:0 0 0 25px; position:relative;
        @include backgroundSoltC(50%, 0);
        &.company_visual {background-image:url(../../images/company/sub_visual.jpg);}
        &.promotion_visual {background-image:url(../../images/promotion/sub_visual.jpg);}
        &.service_visual {background-image:url(../../images/service/sub_visual.jpg);}
        &.util_visual {background-image:url(../../images/etc/sub_visual.jpg);}
        &:before,
        &:after {
            position:absolute; display:block; content:"";
            @include backgroundSolt;
        }
        &:before {width:44.5px; height:44px; background-image:url(../../images/common/sub_visual_mask_left.png); -webkit-background-size:44.5px 44px; background-size:44.5px 44px; left:0; top:60px;}
        &:after {width:143px; height:26.5px; background-image:url(../../images/common/sub_visual_mask_right.png); -webkit-background-size:143px 26.5px; background-size:143px 26.5px; right:0; bottom:0;}
        .visual_txt {
            padding:110px 25px 0 45px; color:$white;
            h3 {font-size:30px; font-family:$slab; font-weight:$light;}
            p {font-size:12px; line-height:16px; padding:15px 0 0;}
        }
    }
}

//서브 로케이션
#subLocation {
    width:100%; height:50px; position:relative; z-index:100;
    &.fixed {
        .location_box {position:fixed; top:0; background-color:$violet;}
        .location_list {
            > li {
                &:before,
                &:after {background-color:$white;}
                button {
                    color:$white;
                    &:after {border-top-color:$white;}
                }
            }
        }
    }
    .location_box {
        width:100%; height:50px; position:absolute; padding:0 25px; font-size:15px;
        @include transition(background-color, .2s);
        @include boxSizing;
    }
    .location_list {
        @extend %clearfix;
        > li {
            width:50%; height:50px; float:left; position:relative; overflow:hidden;
            &:first-child button:before {width:1px; height:20px; display:block; content:""; background-color:$gray4; position:absolute; top:50%; right:0; margin:-10px 0 0;}
            button {
                width:100%; height:50px; position:relative; display:block; padding:0 0 0 15px; font-size:14px;text-align:left; color:$gray2;
                @include boxSizing;
                &:after {
                    width:0; height:0; display:block; content:""; border-top-style:solid; border-top-color:#636363; border-top-width:6px; position:absolute; right:16px; top:23px;
                    border-left-width:5px; border-right-width:5px; border-left-style:solid; border-right-style:solid; border-right-color:transparent; border-left-color:transparent;
                    @include transition;
                }
                &.active {
                    &:after {@include rotate(180);}
                }
            }
            &.depth2 {
                &:after,
                &:before {display:none;}
            }
            .under_depth {
                background-color:$violet; padding:20px 0; border-bottom-right-radius:37px; font-size:13px;
                li {
                    padding:15px 0 0;
                    &:first-child {padding:0;}
                }
                a {
                    color:$white; position:relative; margin:0 0 0 20px;
                    &:after {
                        width:100%; height:1px; content:""; background-color:$white; display:block; position:absolute; bottom:0; left:0;
                        @include scaleX(0);
                        @include transition(transform, .2s);
                    }
                    &:hover,
                    &:focus,
                    &.active {
                        &:after {@include scaleX(1);}
                    }
                }
            }
        }
    }
}
#wrap {position:relative; overflow-x:hidden;}

#subContents {
    position:relative;
    #contentsWrap {
        padding:0 25px 70px 25px;
        #subTitle {padding:30px 0;}
        h4 {
            &.sub_tit {font-size:30px; font-weight:$bold; text-align:center;}
            &.sub_tit2 {
                font-size:30px; font-weight:$light; padding:0 0 0 45px; line-height:45px;
                span {font-size:36px; font-family:$slab; text-decoration:underline;}
            }
        }
    }
}

//커스텀 사용자 입력 폼
#writeForm {
    section {padding:50px 0 0;}
    .tit_wrap {
        @extend %clearfix;
        h5 {float:left; font-size:18px; font-weight:$bold;}
        p {
            float:right; font-size:12px; font-family:$noto; position:relative; margin:4px 0 0;
            &:before {content:"*"; display:block; color:$blue; position:absolute; font-size:21px; left:-13px;}
        }
    }
    .input_wrap {
        border-top:2px solid $black; margin:15px 0 0; font-size:14px;
        ol {@extend %clearfix;}
        li {
             padding:30px 0 0;
            > label,
            .tit {
                font-size:14px;
                strong {color:$blue; font-family:$noto; vertical-align:top;}
            }
            input[type=text] {
                width:100%; display:block; margin:5px 0 0; border-bottom:2px solid $gray4; padding:15px 0; font-size:18px;
                @include placeholder(14px, $gray3, 18px);
            }
            textarea {
                width:100%; height:120px; margin:15px 0 0; display:block; border-bottom:1px solid $gray4; padding:0; font-size:18px; line-height:26px; resize:none;
                @include placeholder(14px, $gray3, 18px);
            }
        }
    }

    .radio_wrap {
        padding:15px 0 0;
        @extend %clearfix;
        div {
            float:left; position:relative; margin:0 0 0 30px;
            &:first-child {margin:0;}
            input[type=radio] {
                position:absolute; top:5px; left:5px;
                &:checked ~ label {
                    &:before {background-color:$violet;}
                }
            }
            label {
                padding:0 0 0 30px; position:relative; line-height:19px; font-size:14px; display:inline-block;
                &:before,
                &:after {
                    position:absolute; display:block; content:"";
                    @include borderRadius(100%);
                }
                &:before {
                    width:19px; height:19px; background-color:$gray4; left:0; top:0;
                    @include transition(background-color, .2s);
                }
                &:after {width:7px; height:7px; background-color:$white; top:6px; left:6px;}
            }
        }
    }

    .input_file_upload {
        .file_btn_wrap {
            @extend %clearfix;
            input[type=text] {width:72%; float:left;}
            button {width:25%; height:54px; float:right; background-color:$gray1; color:$white; margin:5px 0 0; font-size:14px;}
        }
        .upload_caution {
            padding:5px 0 0; font-size:12px; color:#888;
            p {
                margin:10px 0 0; position:relative; padding:0 0 0 22px; line-height:18px;
                &:before {
                    width:15px; height:15px; display:block; content:""; background:url(../../images/common/caution_icon.gif) 0 0 no-repeat; position:absolute; left:0; top:1px;
                    -webkit-background-size:15px; background-size:15px;
                }
            }
        }
    }

    .agree_wrap {
        textarea {
            width:100%; height:290px; border:1px solid $gray4; border-top:2px solid $black; line-height:24px; font-size:14px; resize:none; margin:15px 0 0;
            @include boxSizing;
        }
        ol {
            li {
                padding:24px 0 13px; border-bottom:1px solid $gray4;
                @extend %clearfix;
            }
            p {font-size:14px; line-height:23px;}
            .radio_wrap {padding:15px 0 0; }
        }
    }
    .submit_wrap {
        text-align:center; padding:40px 0 0;
        input[type=submit] {
            width:100%; padding:15px 0; background-color:$violet; color:$white; cursor:pointer; font-size:18px;
            @include borderRadius(50px);
        }
    }
}

//더보기 버튼
.more_wrap {
    text-align:center; margin:40px 0 0;
    button {
        display:inline-block; padding:35px 0 0; color:$black; position:relative;
        @include transition(all, .4s);
        &:before {
            width:1px; height:23px; display:block; content:""; background-color:$black; position:absolute; top:0; left:50%;
            @include transition(transform, .4s);
        }
    }
}

//팝업 기본
#modalPopup {
    width:100%; height:100%; position:fixed; background-color:rgba(0, 0, 0, 0.4); z-index:150; overflow-y:scroll; top:0; left:0; display:none;
    @include opacity(0);
    .popup_container {
        width:1180px; margin:100px auto; background-color:$white; position:relative;
        .popup_close {
            width:58px; height:58px; position:absolute; top:0; right:-68px; text-indent:-9999px; overflow:hidden; background:url(../../images/icon/popup_close.png) 50% 50% no-repeat;
            @include borderSet(1px, solid, $white);
            @include transition;
            @include backgroundSolt;
            &:hover {border-color:$violet; background-color:$violet;}
        }
    }
    .popup_wrap {padding:55px 60px 0; display:none;}
}



