@charset "UTF-8";

/* Font style setting */
$noto: 'Noto Sans KR', Arial, Apple SD Gothic Neo, sans-serif;
$roboto: Roboto, 'Noto Sans KR', Arial, Apple SD Gothic Neo, sans-serif;
$slab: 'Roboto Slab', 'Noto Sans KR', Arial, Apple SD Gothic Neo, sans-serif;

/* Point color setting */
$violet : #2e008b;
$blue : #00b2ca;
$deep : #210064;

$black : #000;
$white : #fff;

$gray1 : #333;
$gray2 : #555;
$gray3 : #aaa;
$gray4 : #dbdbdb;
$gray5 : #f4f2f9;

$gray6 : #f5f5f5;

$silver : #bcbec0;
$gold : #bb8e6d;


/* Background - color setting */
$bg-black : $black;
$bg-gray1 : $gray1;
$bg-gray2 : $gray2;
$bg-gray3 : $gray3;
$bg-gray4 : $gray4;
$bg-gray5 : $gray5;

/* Border - color setting */
$bd-black : $black;
$bd-gray1 : $gray1;
$bd-gray2 : $gray2;
$bd-gray3 : $gray3;
$bd-gray4 : $gray4;
$bd-gray5 : $gray5;

/* Font - color setting */
$txt-black : $black;
$txt-gray1 : $gray1;
$txt-gray2 : $gray2;
$txt-gray3 : $gray3;
$txt-gray4 : $gray4;
$txt-gray5 : $gray5;

/* Input - color setting */
$inp-bd-base : $gray1;

/* Button - color setting */
$btn-black : $black;

/**
 * BASE SETTING
 */
$base-font:Roboto, 'Noto Sans KR', 'Apple SD Gothic Neo', AppleGothic, '돋움', Dotum, Arial, Helvetica, sans-serif;
$base-font-size:16px;
$base-font-color : $black;

$letter-spacing : -0.5px;

$light : 300;
$bold : 700;
